/*!
 *
 *
 * Material Design for Bootstrap
 * www.mdbootstrap.com
 *
 *
 */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.base-bg-img {
  background: url("../assets/images/explore.jpg") no-repeat center center fixed;
}

.index-bg-img {
  background: url("../assets/images/mountains.jpg") no-repeat center center fixed;
}

.character-bg-img {
  background: url("../assets/images/party.jpg") no-repeat center center fixed;
}

.about-bg-img {
  background: url("../assets/images/explorers.jpg") no-repeat center center fixed;
}

.timeline-bg-img {
  background: url("../assets/images/explorers.jpg") no-repeat center center fixed;
}

.full-bg {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .full-bg-img, .view {
    height: auto;
    position: relative;
    text-align: center;
  }

.full-bg .verticalcenter, .view .verticalcenter {
    top: none;
    margin-top: 40px;
    -webkit-transform: none;
    -o-transform: none;
    transform: none;
  }
  .full-bg .container, .view .container {
    padding-top: 30px;
  }
}

.top-nav-collapse {
  background-color: #00796b;
}

.top-nav-collapse .nav li a {
  color: #fff;
}

@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #405C84;
  }
  .navbar .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
  }
}

.pt-color {
  background-color: #405C84 !important;
}

.st-color {
  background-color: #0E274D !important;
}

.btn-ptc {
  background-color: #405C84 !important;
}

.btn-ptc:hover {
  background-color: #5174a6 !important;
}

.btn-ptc:focus {
  background-color: #5174a6 !important;
}

.btn-stc {
  background-color: #0E274D !important;
}

.btn-stc:hover {
  background-color: #163d78 !important;
}

.btn-stc:focus {
  background-color: #163d78 !important;
}

.btn-floating,
.carousel-indicators li {
  background-color: #0E274D !important;
}

.testimonial-card, .character-card {
    margin: .5rem 0 1rem;
    position: relative;
    background-color: #fff
}

.testimonial-card .avatar {
    border-radius: 50%;
    display: block;
    margin: -65px auto 0;
    width: 120px
}

.testimonial-card .avatar img, .character-card .avatar img{
    border: 5px solid #fff;
    background: #FFF;
    width: 100%
}

.testimonial-card .card-content {
    padding: 1em;
    color: #666;
    background-color: #fff;
    text-align: center
}

.character-card .card-content {
    padding: 1em;
    color: #666;
    background-color: #fff;
    text-align: center;
}

.testimonial-card .card-content h5 {
    margin-top: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee
}

.testimonial-card .card-content p,.character-card .card-content p  {
    font-size: 15px;
    line-height: 1.571428;
    font-weight: 300
}

.testimonial-card .avatar, .testimonial-card .card-up {
    overflow: hidden;
    height: 120px;
}

.character-card .avatar, .character-card .card-up {
    overflow: hidden;
    height: 120px;
}

.character-card .avatar {
    border-radius: 50%;
    display: block;
    margin: -85px auto 0;
    width: 120px;
}

.character-card .card-avatar h5 {
    padding-bottom: 10px;
    padding-top: 10px;
}

.character-card .card-content h5 {
  margin-top: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee
}

.multiitem-car {
    margin-bottom: 5em;
}

.multiitem-car .carousel-indicators {
    margin-bottom: -2em;
}

.multiitem-car .carousel-indicators .active {
    height: 25px;
    width: 25px;
    background-color: #000;
}

.multiitem-car .carousel-indicators li {
    height: 20px;
    width: 20px;
    background-color: #000;
    margin-bottom: -30px;
}

.unavailable {
  opacity: 0.5;
  pointer-events: none;
}

.about-well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: rgba(47, 47, 47, 0.5);
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px;
}

.timeline > li {
  margin-bottom: 20px;
  position: relative;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li > .timeline-panel {
  width: 46%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}

.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}

.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #999999;

  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline-badge.primary {
  background-color: #2e6da4 !important;
}

.timeline-badge.success {
  background-color: #3f903f !important;
}

.timeline-badge.warning {
  background-color: #f0ad4e !important;
}

.timeline-badge.danger {
  background-color: #d9534f !important;
}

.timeline-badge.info {
  background-color: #5bc0de !important;
}

.timeline-title {
  margin-top: 0;
  color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}

.timeline-body > p + p {
  margin-top: 5px;
}

.text-muted-characters{
  color: #743f77;
}
